<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travleAreaMapper">
	<resultMap type="TravleArea" id="travleArea_rm">
	
	<!-- property가 java, column이 db라고 생각하면 됨. -->
	
		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="imageNo" column="IMG_NO" />
		
		<!-- DB의 일반 컬럼들 -->
		<result property="contentNo" column="CONTENT_NO" />
		<result property="imagePath" column="IMG_PATH" />
		<result property="imageRename" column="IMG_RENAME" />
		<result property="imageName" column="IMG_NAME" />
	</resultMap>
	
	<select id="selectTravleArea" parameterType="TravleArea" resultMap="travleArea_rm">
		SELECT T1.IMG_NO, T1.CONTENT_NO , T1.IMG_PATH , T1.IMG_RENAME , T1.IMG_NAME
		FROM 
			CONTENT_IMG T1
			INNER JOIN CONTENT T2 ON (T1.CONTENT_NO = T2.CONTENT_NO )
			INNER JOIN LOCATION T3 ON (T2.AREA_CODE  = T3.AREA_CODE )
		WHERE T3.AREA_CODE = #{area}
		ORDER BY 
		    T1.IMG_NO
  	</select>
  	
</mapper>
